body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
margin: auto;
width: 500px;

}
.hidder{
  border: solid 2px;
}
#balance{
  font-size: 20px;
}
.board{
  display: flex;
  flex-direction: row;
  padding: 30px;
  width: 150px;
  margin: auto;
  justify-content: space-around;
}
.control{
  display: flex;
  flex-direction: column;

}
.board-title{
  font-size: 20px;
  margin: 30px;

}
#income{
  color: green;
  font-size: 40px;
  border: solid 2px;
  margin-right: 20px;
}
#expence{
  color: red;
  font-size: 40px;
  border: solid 2px;
  
}
.affichage{
  border: solid 2px;
  height: auto;
}


.center {
  position: relative;
  padding: 50px 50px;
  background: #fff;
  border-radius: 10px;
}
.center h1 {
  font-size: 2em;
  border-left: 5px solid dodgerblue;
  padding: 10px;
  color: #000;
  letter-spacing: 5px;
  margin-bottom: 60px;
  font-weight: bold;
  padding-left: 10px;
}
.center .inputbox {
  position: relative;
  width: 300px;
  height: 50px;
  margin-bottom: 50px;
}
.center .inputbox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid #000;
  outline: none;
  background: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2em;
}
.center .inputbox:last-child {
  margin-bottom: 0;
}
.center .inputbox span {
  position: absolute;
  top: 14px;
  left: 20px;
  font-size: 1em;
  transition: 0.6s;
  font-family: sans-serif;
}
.center .inputbox input:focus ~ span,
.center .inputbox input:valid ~ span {
  transform: translateX(-13px) translateY(-35px);
  font-size: 1em;
}
.center .inputbox [type="button"] {
  width: 50%;
  background: dodgerblue;
  color: #fff;
  border: #fff;
}
.center .inputbox:hover [type="button"] {
  background: linear-gradient(45deg, greenyellow, dodgerblue);
}
.container{
  margin-top:100px;
}
.card {
     position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0px solid transparent;
  border-radius: 0px;
}


.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card .card-title {
  position: relative;
  font-weight: 600;
  margin-bottom: 10px;
}


.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

* {
  outline: none;
}

.table th, .table thead th {
  font-weight: 500;
}


.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}


.table th {
  padding: 1rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}


.table th, .table thead th {
  font-weight: 500;
}


th {
  text-align: inherit;
}


.m-b-20 {
  margin-bottom: 20px;
}


.customcheckbox {
  display: block;
  position: relative;
  padding-left: 24px;
  font-weight: 100;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.customcheckbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: -3px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #CDCDCD;
  border-radius: 6px;
}
.checkmark:hover{
  background-color: red;
}


.customcheckbox input:checked ~ .checkmark {
  background-color: #2196BB;
}


.customcheckbox .checkmark:after {
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
